/* ================ The Timeline ================ */
.timeline {
	h4 {
		margin-bottom: 0;
	}
	.fecha {
		color: $primary-light;
	}
	ul {
		overflow: hidden;
		li::after {
			content:'';
			border-left: 1px solid;
			position: absolute;
			left: 45px;
			height: 100%;
			top: 0;
		}
	}
}
.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	border-left: 2px solid $primary;

	p {
		font-size: 1rem;
	}

	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $primary;
		background: white;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$primary 60%,
			rgba($primary, 0)) 1 100%
		;
	}
}