/*======================================
=            MEDIAS QUERIES            =
======================================*/

// SM min/max
@media (max-width: 575px) and (min-width: 321px) {
	.off-canvas .navbar-brand {
		left: 300px;
		top: 80px;
	}   
}


// SM devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	#main {
		background-image: url("../img/bg-foto-icons01_sm.webp");
	}
	.off-canvas {
		.navbar-brand {
			left: 390px;
			top: 12px;
		}
		.bg-skew {
			top: 0;
		}
	}
	.navbar-ppal {
		position: absolute;
		top: 80px;
	}
	h2.cd-headline {
		font-size: 300%;
		letter-spacing: 0;
		text-shadow: 0 2px 10px $secondary-dark;
	}
	.filtr-controls {
		display: inline-block !important;
	}
	#fullpage {
		.fp-controlArrow.fp-next {
			right: 2%;
		}
		.fp-controlArrow.fp-prev {
			left: 2%;
		}
	}
}
// MD min/max
@media (max-width: 767px) and (min-width: 576px) {
	.off-canvas .navbar-brand {
		left: 240px;
		top: 80px;
	}
}

// MD  devices (tablets, 768px and up)
@media (min-width: 768px) {
	.navbar.off-canvas[data-open-drawer="1"], 
	.navbar.off-canvas.open {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	.off-canvas .bg-skew  {
		top: 61px;
		left: -38px;
		-moz-transform: translate(0px,-40%) skew(-45deg, 0deg);
		-webkit-transform: translate(0px,-40%) skew(-45deg, 0deg);
		-o-transform: translate(0px,-40%) skew(-45deg, 0deg);
		-ms-transform: translate(0px,-40%) skew(-45deg, 0deg);
		transform: translate(0px,-40%) skew(-45deg, 0deg); 
	}
}

// LG min/max
@media (max-width:991px) and (min-width:768px){
	.off-canvas .navbar-brand {
		left: 241px;
	}
}


// LG devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.lead {
		width: 75%;
	}
	.off-canvas .navbar-brand {
		left: 241px;
	}
}

// XL devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
	.navbar.off-canvas[data-open-drawer="1"],
	.navbar.off-canvas.open {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	.off-canvas {
		.navbar-brand {
			left: 278px;
		}
		.bg-skew  {
			top: 61px;
			left: -38px;
		}
	}
}
