/*
Error: Invalid CSS after "@": expected identifier, was "/* Smartphones ..."
        on line 427 of C:\xampp\htdocs\betojaton_com\betojaton\v01\scss\custom.scss

422: }
423: /*----------  /Efecto Fotos  ----------*\/
424: /*======================================
425: =            MEDIAS QUERIES            =
426: ======================================*\/
427: @/* Smartphones (portrait and landscape) ----------- *\/
428: @media only screen 
429: and (min-device-width : 320px) 
430: and (max-device-width : 480px) {
431: 	.btn-group{
432: 		display: inline-block;

Backtrace:
C:\xampp\htdocs\betojaton_com\betojaton\v01\scss\custom.scss:427
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:206:in `directive'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@\": expected identifier, was \"/* Smartphones ...\"\A         on line 427 of C:\xampp\htdocs\betojaton_com\betojaton\v01\scss\custom.scss\A \A 422: }\A 423: /*----------  /Efecto Fotos  ----------*/\A 424: /*======================================\A 425: =            MEDIAS QUERIES            =\A 426: ======================================*/\A 427: @/* Smartphones (portrait and landscape) ----------- */\A 428: @media only screen \A 429: and (min-device-width : 320px) \A 430: and (max-device-width : 480px) {\A 431: 	.btn-group{\A 432: 		display: inline-block;"; }
