@import 'variables';
#carousel-t .testimonial-content {
  margin-top: 15px;
  img {
    width: 100px;
    filter: brightness(76%) contrast(109%) grayscale(0%) hue-rotate(0deg) saturate(84%) sepia(100%);
    margin-bottom: 2rem;
  }
}

#carousel-t .carousel-control-next, .carousel-control-prev {
  width: 13%;
}

#carousel-t .carousel-control-prev, #carousel-t .carousel-control-next {
  opacity: 1;
}

#carousel-t .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #140000;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .2;
  transition: opacity .6s ease;
  border-radius: 50%;
}

#carousel-t .carousel-indicators .active {
  opacity: .5;
}

#carousel-t .carousel-indicators {
  position: relative;
  padding-bottom: 10px;
}

#carousel-t .signature {
  font-size: 24px;
  font-style: normal;
  font-family: 'Roboto Slab', Times, serif;
  font-weight: 300;
  color: $primary;
  margin: 0;
}

#carousel-t .autor {
  font-size: 14px;
  margin-bottom: 10px;
}

#carousel-t p {
  font-size: 18px;
  width: 100%;
}

#carousel-t .icon.ion-android-arrow-dropright-circle {
  font-size: 40px;
  color: rgba(0,0,0,0.15);
  transition: color .3s;
  height: 100%;
  width: 100%;
}

#carousel-t .icon.ion-android-arrow-dropright-circle:hover {
  color: rgba(0,0,0,0.35);
  transition: color .3s;
}

#carousel-t .icon.ion-android-arrow-dropleft-circle {
  font-size: 40px;
  color: rgba(0,0,0,0.15);
  height: 100%;
  width: 100%;
}

#carousel-t .icon.ion-android-arrow-dropleft-circle:hover {
  color: rgba(0,0,0,0.35);
  transition: color .3s;
}